/*
Thanks to the r shiny team for the css inspiration:
http://shiny.rstudio.com/gallery/bus-dashboard.html
*/

/* generic */
body{
	background-color: #ECF0F1;
}

.content{
	background-color: #FFFFFF;
	padding: 1em;
	margin: 1em;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	border-top: 2px solid #F39C12;
}

a{
	color: #F9F9F9;
	text-decoration: underline;
}

div.sectionWrapper{
	clear: both;
}

div.figure{
	padding: 1em 0em 1em 0em;
}

/* Header & Footer */
div.branding{
	background-color: #367FA9;
	color: #F9F9F9;
	padding: 1em;
	clear: both;
}

div.header{
	margin-bottom: 1em;
}

div.header h1{
	margin: 0.67em 0em 0.67em 0em;
}

div.footer{
	margin-top: 1em;
	min-height: 10em;
}

/* Nav Header */
h2.navHeader{
	display: inline-block;
	margin-right: 0.67em;
}

/*species labels*/
div.isotopeBadge{
	text-align: center;
}

div.isotope{
	font-size: 200%;
	font-weight: bold;
}

/* buttons */

button.savePlotButton{
	margin-left: 1em;
}

/* companion lists */

div.longListWrapper{
	max-height: 300px;
	overflow: auto;
}

div.longerListWrapper{
	max-height: 600px;
	overflow: auto;
}

tr.header{
	font-weight: bold;
}

/* beam selection */
div.beamSelect{
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

/* odds & ends */
.shhh{
	display: none;
}

td{
	padding-right:1em;
}

.legend{
	margin-left: 1em;
}

.legend	b{
	font-weight: normal;
}

.legend span b span{
	display: none;
}

div.references a{
	color: #367FA9;
}
