<div class='sectionWrapper'>
	<div class='col-md-1 content isotopeBadge' id='chargeStateOption{{q}}'>
		<div class='isotope'><sup>{{A}}</sup>{{species}}<sup>{{q}}+</sup></div>
		<div id='aq{{A}}{{species}}{{q}}'>A/Q: {{AQ}}</div>
		<button type="button" class="btn btn-default btn-md" onclick="window.location='strippingFoil.html?species={{species}}&amp;A={{A}}&amp;qOriginal={{q}}'">
			<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Filter
		</button>
	</div>

	<div id='wrap{{A}}{{species}}{{q}}' class='col-md-7 content figure'>
		<div id='fig{{A}}{{species}}{{q}}'></div>
		<img id='pngDump{{A}}{{species}}{{q}}' class='shhh'></img>
		<button class='savePlotButton' onclick="savePlot('{{A}}{{species}}{{q}}', 'savePlot', 'pngDump')">Save Plot</button>
		<a id='savePlot{{A}}{{species}}{{q}}' download='plot.png' class='shhh'>Save Plot</a>
	</div>

	<div class='col-md-2 content'>
		<h4>CSB Product Companions</h4>
		<table id='csbCompanions{{A}}{{species}}{{q}}'>
			<tr class='header'>
				<td>Species</td>
				<td>A/Q</td>
			</tr>
			{{#csbCompanions}}
				<tr>
					<td>
						<sup>{{compA}}</sup>
						{{compSpecies}}
						<sup>{{compQ}}+</sup>
					</td>
					<td>
						{{compAoverQ}}
					</td>
				</tr>
			{{/csbCompanions}}
		</table>
	</div>

	<div class='col-md-2 content longListWrapper'>
		<h4>Other Companions</h4>
		<table id='otherCompanions{{A}}{{species}}{{q}}'>
			<tr class='header'>
				<td>Species</td>
				<td>A/Q</td>
			</tr>
			{{#otherCompanions}}
				<tr>
					<td>
						<sup>{{compA}}</sup>
						{{compSpecies}}
						<sup>{{compQ}}+</sup>
					</td>
					<td>
						{{compAoverQ}}
					</td>
				</tr>
			{{/otherCompanions}}
		</table>
	</div>
</div>