<ul>
	<li>
		<sup>{{A}}</sup>{{species}}<sup>{{q}}+</sup>
	</li>
	<li>
		<p>A/Q:</p><p id='aq{{A}}{{species}}{{q}}'>{{aOverQ}}</p>
	</li>
	<li>
		<div id='fig{{A}}{{species}}{{q}}'></div>
	</li>
</ul>