<div id='footer' class='branding footer'>
    <h3>Built at TRIUMF</h3>
    <div class='col-md-4'>
        <div>Citation DOI: <a href="http://dx.doi.org/10.5281/zenodo.45582"><img src="https://zenodo.org/badge/doi/10.5281/zenodo.45582.svg" alt="10.5281/zenodo.45582"></a></div>
        <a href='https://github.com/GRIFFINCollaboration/beamCompanionExplorer'>Source Code on GitHub</a>
    </div>
    <div class='col-md-8'></div>
</div>
