<div id='footer' class='branding footer'>
    <h3>Built at TRIUMF</h3>
    <div class='col-md-4'>
        <div>Citation DOI: 10.5281/zenodo.34279</div>
        <a href='https://github.com/GRIFFINCollaboration/beamCompanionExplorer'>Source Code on GitHub</a>
    </div>
    <div class='col-md-8'></div>
</div>