<div class='chargeStateWrapper'>
	<div class='col-md-1 content isotopeBadge' id='chargeStateOption{{q}}'>
		<div class='isotope'><sup>{{A}}</sup>{{species}}<sup>{{q}}+</sup></div>
		<strong>Charge Fraction:</strong> 
		<div>{{chargeFraction}}%</div>
		<strong>This A/Q:</strong>
		<div>{{AQ}}</div>
		<strong>First A/Q:</strong>
		<div>{{AQoriginal}}</div>
		<strong>Selected:</strong>
		<div><sup>{{A}}</sup>{{species}}<sup>{{qOriginal}}+</sup></div>
	</div>


	<div class='col-md-7'>
		<div id='wrap{{A}}{{species}}{{q}}' class='content figure'>
			<div id='fig{{A}}{{species}}{{q}}'></div>
			<div id='legend{{A}}{{species}}{{q}}' class='legend'></div>
			<img id='pngAcceptance{{A}}{{species}}{{q}}' class='shhh'></img>
			<button class='savePlotButton' onclick="savePlot('{{A}}{{species}}{{q}}', 'saveAcceptance', 'pngAcceptance')">Save Acceptance Plot</button>
			<a id='saveAcceptance{{A}}{{species}}{{q}}' download='acceptance.png' class='shhh'>Save Plot</a>
		</div>
		<div class='content figure'>
			<div id='csf{{A}}{{species}}{{q}}'></div>
			<img id='pngCSF{{A}}{{species}}{{q}}' class='shhh'></img>
			<button class='savePlotButton' onclick="savePlot('{{A}}{{species}}{{q}}', 'saveCSF', 'pngCSF')">Save Charge State Fraction Plot</button>
			<a id='saveCSF{{A}}{{species}}{{q}}' download='isobaricCSF.png' class='shhh'>Save Plot</a>
		</div>
	</div>

	<div class='col-md-2 content'>
		<h4>CSB Product Companions</h4>
		<table id='csbCompanions{{A}}{{species}}{{q}}'>
			<tr class='header'>
				<td>Species</td>
				<td>A/Q</td>
			</tr>
			{{#csbCompanions}}
				<tr>
					<td>
						<sup>{{compA}}</sup>
						{{compSpecies}}
						<sup>{{compQ}}+</sup>
					</td>
					<td>
						{{compAQ}}
					</td>
				</tr>
			{{/csbCompanions}}
		</table>
	</div>

	<div class='col-md-2 content longerListWrapper'>
		<h4>Other Companions</h4>
		<table id='otherCompanions{{A}}{{species}}{{q}}'>
			<tr class='header'>
				<td>Species</td>
				<td>A/Q</td>
			</tr>
			{{#otherCompanions}}
				<tr>
					<td>
						<sup>{{compA}}</sup>
						{{compSpecies}}
						<sup>{{compQ}}+</sup>
					</td>
					<td>
						{{compAQ}}
					</td>
				</tr>
			{{/otherCompanions}}
		</table>
	</div>

	<div class='col-md=1'></div>

</div>