<ul>
	<li>
		<sup>{{A}}</sup>{{species}}<sup>{{q}}+</sup>
	</li>
	<li>
		<ul>
			<li>%</li>
			<li>This A/Q: {{AQ}}</li>
			<li>First A/Q: {{AQoriginal}}</li>
			<li><sup>{{A}}</sup>{{species}}<sup>{{qOriginal}}+</sup></li>
		</ul>
	</li>
	<li>
		<p>Possible Compaions:</p>
	</li>
	<li>
		<p>Acceptance</p>
	</li>
</ul>